$blue: #263c5c;

.title {
	max-width: 1100px;
	margin: 0px auto 30px;
	font-size: 36px;
	font-family: "roboto";
	font-weight: bold;
	@media (max-width: 765px) {
		font-size: 28px;
		margin: 0px auto 15px;
	}
}
///==============================

.firstSection {
	&__block {
		position: relative;
		height: auto;
		min-height: 588px;
		@media (max-width: 1200px) {
			height: auto;
			min-height: 400px;
		}
		img {
			object-fit: cover;
			pointer-events: none;

			@media (max-width: 716px) {
				min-width: 750px;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	&__index {
		position: absolute;
		top: 32%;
		left: 5%;
		display: flex;
		flex-direction: column;
		text-align: start;
		background-color: rgba(186, 186, 186, 0.3);
		backdrop-filter: blur(10px);
		padding: 20px 20px;
		border-radius: 10px;
		@media (max-width: 765px) {
			margin-top: 90px;
		}
		@media (max-width: 400px) {
			min-width: 280px;
			padding: 5px 10px;
			left: 50%;
			text-align: center;
			transform: translate3d(-50%, 0, 0);
		}
	}
	&__title {
		font-weight: bold;
		font-size: 56px;
		color: #172437;
		@media (max-width: 765px) {
			font-size: 40px;
		}
	}
	&__miniTitle {
		font-weight: 500;
		margin-top: 40px;
		font-size: 20px;
		color: #172437;
		max-width: 400px;
		@media (max-width: 765px) {
			margin-top: 20px;
			font-size: 14px;
			max-width: 300px;
		}
	}
}

///==============================

.newsSection {
	&__title {
		max-width: 1100px;
		margin: 0px auto;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 30px;
	}
	&__button {
		cursor: pointer;
		display: inline;
		font-size: 24px;
		line-height: 120px;
		font-weight: bold;
		padding: 8px 40px;
		border: 2px solid $blue;
		border-radius: 10px;
		transition: 0.3s;
		&:hover {
			color: #fff;
			background-color: $blue;
			transition: 0.3s;
			box-shadow: 10px 9px 30px rgba(0, 0, 0, 0.25);
		}
		&_row {
			max-width: 1100px;
			margin: 0px auto;
			text-align: right;
			margin-top: -40px;
			@media (max-width: 765px) {
				// margin-top: 15px;
			}
		}
		@media (max-width: 765px) {
			font-size: 20px;
			// padding: 6px 32px;
		}
	}
}

.newsBlock {
	&__flex {
		display: flex;
		min-height: 260px;
		margin: 0px 0 40px 0;
		flex-direction: column;
		justify-content: space-between;
		&:nth-last-child(1) {
			margin-bottom: 0px;
		}
		@media (max-width: 765px) {
			flex-direction: column;
			margin: 0 0 30px 0;
		}
	}
	&__separator {
		height: 1px;
		background-color: $blue;
		width: 100%;
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1100px;
		margin: 0px auto;
		@media (max-width: 765px) {
			flex-direction: column;
			margin: 20px 0;
		}
	}
	&__news {
		display: flex;
		flex-direction: column;
		margin-right: 20px;
		@media (max-width: 765px) {
			margin: 0px 0 10px 0;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: bold;
		&_block {
			display: flex;
			max-width: 700px;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 19px;
			@media (max-width: 765px) {
				margin-bottom: 10px;
				font-size: 20px;
			}
		}
		@media (max-width: 765px) {
			font-size: 20px;
		}
	}
	&__date {
		font-size: 14px;
		color: #5c5c5c;
		margin-left: 10px;
	}
	&__text {
		max-width: 700px;
		font-size: 20px;
		a {
			color: #7bb72d;
			&:visited {
				color: #7bb72d;
			}
		}
		@media (max-width: 765px) {
			font-size: 16px;
		}
	}
	&__pic {
		// background-color: #838383;
		min-height: 190px;
		min-width: 343px;
		border-radius: 10px;
		img {
			pointer-events: none;
			border-radius: 10px;
		}
		@media (max-width: 765px) {
			min-width: 0;
			width: 100%;
			max-width: 343px;
		}
	}
}

.newBlock {
	&__flex {
		display: flex;
		padding: 20px 10px;
		min-height: 260px;
		margin: 0px 0 40px 0;
		flex-direction: column;
		justify-content: space-between;
		border: 1.5px solid $blue;
		border-radius: 20px;
		&:nth-last-child(1) {
			margin-bottom: 0px;
		}
		@media (max-width: 765px) {
			flex-direction: column;
			margin: 0 0 30px 0;
		}
	}
	&__separator {
		height: 1.5px;
		background-color: $blue;
		width: 90%;
		align-self: center;
		margin: 20px 0;
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1100px;
		margin: 0px auto;
		@media (max-width: 765px) {
			flex-direction: column;
			margin: 20px 0;
		}
	}
	&__news {
		display: flex;
		flex-direction: column;
		margin-right: 20px;
		@media (max-width: 765px) {
			margin: 0px 0 10px 0;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: bold;
		&_block {
			display: flex;
			max-width: 700px;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 19px;
			@media (max-width: 765px) {
				margin-bottom: 10px;
				font-size: 20px;
			}
		}
		@media (max-width: 765px) {
			font-size: 20px;
		}
	}
	&__date {
		font-size: 14px;
		color: #5c5c5c;
		margin-left: 10px;
	}
	&__text {
		max-width: 700px;
		font-size: 20px;
		a {
			color: #7bb72d;
			&:visited {
				color: #7bb72d;
			}
		}
		@media (max-width: 765px) {
			font-size: 16px;
		}
	}
	&__pic {
		// background-color: #838383;
		min-height: 190px;
		min-width: 343px;
		border-radius: 10px;
		img {
			pointer-events: none;
			border-radius: 10px;
		}
		@media (max-width: 765px) {
			min-width: 0;
			width: 100%;
			max-width: 343px;
		}
	}
}

///==============================

.faq {
	&__content {
		max-width: 1140px;
		margin: 50px auto 0;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;

		@media (max-width: 992px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 0px 0 0 15px;
		}
	}

	&__qa {
		position: relative;
		border-radius: 7px;
		max-width: 450px;
		padding: 12px;
		margin: 0px 0px 56px 24px;
		background-color: $blue;
		box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
		&:nth-last-child(1) {
			margin-bottom: 20px;
		}
		&:nth-last-child(2) {
			margin-bottom: 20px;
		}

		@media (max-width: 992px) {
			margin: 0px 0px 30px 0px;

			&:nth-last-child(1) {
				margin-bottom: 0px;
			}

			&:nth-last-child(2) {
				margin-bottom: 30px;
			}

			width: 95%;
		}

		@media (max-width: 768px) {
			margin: 0px 0px 30px 0px;

			&:nth-last-child(1) {
				margin-bottom: 30px;
			}

			&:nth-last-child(2) {
				margin-bottom: 30px;
			}
		}

		&::after {
			content: "Q";
			position: absolute;
			top: 8px;
			left: -27px;
			font-family: roboto;
			font-weight: 400;
			font-size: 36px;
			color: #273453;
			border: 2px solid #273453;
			background-color: #fff;
			border-radius: 50%;
			padding: 4px 10px;
		}
	}
}

.qa {
	&__title {
		display: flex;
		align-items: center;
		width: 420px;
		padding: 0px 40px 0px 22px;
		min-height: 42px;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #fff;
		@media (max-width: 450px) {
			width: 280px;
			font-size: 16px;
		}
	}

	&__text {
		padding: 10px 0px 0px 20px;
		max-width: 420px;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		a {
			color: #7bb72d;
			font-weight: bold;
		}
		@media (max-width: 420px) {
			font-size: 14px;
		}
	}
}
///==============================

.advantage {
	&__content {
		margin: 60px 0;
		@media (max-width: 565px) {
			margin: 30px 0;
		}
	}
	&__miniTitle {
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		max-width: 1100px;
		margin: 0px auto 51px;
		@media (max-width: 565px) {
			font-size: 18px;
			margin-bottom: 30px;
			line-height: 20px;
		}
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1100px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__card {
		max-width: 545px;
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		width: 100%;
		&:nth-last-child(1) {
			margin-bottom: 0px;
		}
		@media (max-width: 1100px) {
			margin-bottom: 30px;
			&:nth-last-child(1) {
				margin-bottom: 30px;
			}
		}
	}
	&__text {
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 565px) {
			height: auto;
		}
	}
	&__card_title {
		font-family: "roboto";
		font-weight: 700;
		font-size: 22px;
		@media (max-width: 565px) {
			font-size: 18px;
			margin-bottom: 10px;
			// min-width: 300px;
		}
	}
	&__card_text {
		max-width: 400px;
		font-weight: 400;
		font-size: 16px;
		@media (max-width: 565px) {
			font-size: 14px;
		}
	}
	&__card_pic {
		pointer-events: none;
		margin-left: 42px;
		@media (max-width: 1100px) {
			min-width: 70px;
			min-height: 70px;
		}
		@media (max-width: 565px) {
			margin-left: 20px;
		}
	}
}
///==============================

.price {
	&__subtitle {
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		max-width: 744px;
		margin: 0px 0 51px 25px;
		@media (max-width: 565px) {
			font-size: 18px;
			margin: 0px auto 15px;
			line-height: 20px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 800px) {
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
	&__flex {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		@media (max-width: 800px) {
			margin: 0 0 30px;
		}
		&_pic {
			pointer-events: none;
		}
		&_title {
			text-align: center;
			max-width: 300px;
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 16px;
			p {
				display: inline;
				color: #6da227;
			}
		}
		&_subtitle {
			text-align: center;
		}
	}
}
///==============================

.about {
	&__content {
		display: flex;
		max-width: 1140px;
		margin: 0px auto;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}
	&__pic {
		pointer-events: none;
		min-width: 448px;
		min-height: 422px;
		@media (max-width: 1000px) {
			min-width: 313px;
			min-height: 295px;
		}
		@media (max-width: 700px) {
			max-width: 360px;
			min-width: auto;
			min-height: auto;
		}
	}
	&__text {
		margin-left: 10px;
		max-width: 664px;
		font-size: 24px;
		@media (max-width: 1000px) {
			font-size: 20px;
		}
		@media (max-width: 700px) {
			text-align: center;
			margin: 20px 0 0 0;
			font-size: 18px;
		}
		p {
			&:nth-child(1) {
				margin-top: 0;
			}
			@media (max-width: 1000px) {
				margin: 10px 0;
			}
		}
		span {
			font-weight: bold;
			color: #7bb72d;
		}
	}
}
///==============================

.map {
	// position: relative;
	// height: 100%;
	&__content {
		position: relative;
		max-width: 1140px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title {
			margin-top: 30px;
		}
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}
	&__flex {
		// position: relative;
		
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-between;
		margin-top: 30px;
		@media (max-width: 752px) {
			// max-width: 250px;
		}
	}
	&__adress {
		position: relative;
		min-width: 360px;
		@media (max-width: 752px) {
			max-width: 310px;
			min-width: 310px;
		}
	}
	&__title {
		position: relative;
		font-weight: 700;
		font-size: 20px;
		@media (max-width: 752px) {
			font-size: 18px;
		}
	}
	&__subtitle {
		position: relative;
		font-weight: 400;
		font-size: 20px;
		@media (max-width: 752px) {
			font-size: 16px;
		}
	}
	&__map {
		position: relative;
		width: 100%;
		height: 100%;
		@media (max-width: 700px) {
			margin: 10px 0;
		}
		img {
			border-radius: 10px;
			pointer-events: none;
		}
	}
}

///==============================

.contacts {
	&__content {
		display: flex;
		flex-wrap: wrap;
	}
	&__title {
		font-size: 32px;
		font-weight: bold;
		@media (max-width: 776px) {
			font-size: 26px;
		}
		@media (max-width: 450px) {
			font-size: 24px;
		}
	}
	&__social {
		display: flex;
		margin: 20px 0 0 30px;
		@media (max-width: 450px) {
			margin: 20px 0 0 0px;
		}
	}
	&__vk {
	}
	&__od {
		margin: 0 30px;
		@media (max-width: 450px) {
			margin: 0 20px;
		}
	}
	&__2gis {
		margin: 0 0px 0 30px;
		@media (max-width: 450px) {
			margin: 0 0px 0 20px;
		}
	}
	&__wa {
	}
	&__contact {
		max-width: 450px;
		min-width: 450px;
		font-size: 32px;
		margin: 40px 40px 0 0;
		&:nth-child(1) {
			margin: 0 40px 0 0;
			min-width: 439px;
		}
		&:nth-child(2) {
			margin: 0;
		}
		&:nth-child(4) {
			margin: 40px 0 0 0;
		}
		a {
			color: $blue;
			text-decoration: underline;
		}
		p {
			margin: 20px 0 0 30px;
		}
		@media (max-width: 776px) {
			font-size: 24px;
			p {
				margin: 20px 0 0 0;
			}
			margin: 30px 40px 0 0;
			&:nth-child(1) {
				min-width: 307px;
			}
			&:nth-child(2) {
				margin: 30px 0 0 0;
			}
			&:nth-child(4) {
				margin: 30px 0 0 0;
			}
		}
		@media (max-width: 450px) {
			font-size: 18px;
		}
	}
}

.cleaner {
	&__flex {
		display: flex;
		// flex: 1 1 auto;
		justify-content: space-between;
		align-items: center;
		margin: 0px 0 50px;
		@media (max-width: 940px) {
			flex-direction: column;
			justify-content: center;
		}
		@media (max-width: 940px) {
			margin: 0;
		}
	}
	&__text {
		max-width: 600px;
		font-size: 24px;
		line-height: 30px;
		margin-right: 20px;
		@media (max-width: 1150px) {
			max-width: 400px;
			font-size: 22px;
			line-height: 24px;
		}
		@media (max-width: 940px) {
			margin: 0px 0 30px;
			max-width: none;
		}
		@media (max-width: 540px) {
			font-size: 18px;
			line-height: 22px;
		}
	}
	&__degree {
		display: flex;
		max-width: 1180px;
		justify-content: space-between;
		align-items: flex-start;
		pointer-events: none;
		@media (max-width: 540px) {
			display: none;
		}
		&_flex {
			display: flex;
			justify-content: space-between;
			max-width: 1180px;
			width: 100%;
			@media (max-width: 1000px) {
				flex-wrap: wrap;
			}
		}
		@media (max-width: 1000px) {
			flex-wrap: wrap;
			gap: 1rem;
			div {
				svg {
					max-width: 70px;
				}
			}
		}
	}
	&__video {
		max-width: 500px;
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		@media (max-width: 540px) {
			div {
				video {
					max-width: 100%;
				}
			}
		}
		div {
			video {
				border-radius: 10px;
				z-index: 0;
			}
		}
	}
}

///==============================

.waterpumps {
	&__content {
		margin: 30px 0 0 0;
		&:nth-child(1) {
			margin: 0;
		}
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 560px) {
			flex-direction: column;
			&:nth-child(2) {
				flex-direction: column-reverse;
			}
		}
	}
	&__pic {
		min-width: 320px;
		&__img1{
			max-width: 449px;
			max-height: 378px;
		}
		&__img2{
			max-width: 200px;
			max-height: 350px;
		}
		img {
			pointer-events: none;
			object-fit: cover;
			object-position: center;
		}
		@media (max-width: 760px) {
			min-width: 290px;
		}
	}
	&__text {
		font-size: 24px;
		font-weight: medium;
		max-width: 600px;
		@media (max-width: 760px) {
			max-width: 500px;
			font-size: 22px;
		}
		@media (max-width: 560px) {
			font-size: 18px;
			margin: 20px 0;
		}
	}
}

///==============================

.howtouse {
	&__content {
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 960px) {
			flex-direction: column-reverse;
		}
	}
	&__video1 {
		max-width: 500px;
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		div {
			video {
				border-radius: 10px;
				z-index: 0;
			}
		}
	}
	&__video {
		// border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		div {
			video {
				border-radius: 10px;
				border-radius: 10px;
				z-index: 0;
			}
		}
	}
	&__list {
		font-size: 24px;
		line-height: 40px;
		border-radius: 10px;
		padding: 40px 38px 40px 60px;
		color: #fff;
		background-color: $blue;
		margin: 40px 0;
		@media (max-width: 1065px) {
			font-size: 22px;
		}
		@media (max-width: 1024px) {
			font-size: 22px;
			line-height: 40px;
			padding: 20px 30px 30px 50px;
		}
		@media (max-width: 960px) {
			font-size: 20px;
			margin-bottom: 30px;
		}
		@media (max-width: 600px) {
			font-size: 18px;
			line-height: 30px;
		}
		@media (max-width: 450px) {
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 20px;
		}
	}
}

.analyzes {
	&__flex {
		box-sizing: content-box;
		display: grid;
		// grid-template-columns: 1.4fr 1fr 1fr;
		grid-template-columns: repeat(auto-fill, 430px);
		// grid-auto-rows: 150px;
		// flex-wrap: wrap;
		gap: 2rem;
		@media (max-width: 660px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__adress {
		// margin: 20px 0;
		// &:nth-child(1){
		// 	margin-top: 0px;
		// }
		// &:nth-last-child(1) {
		// 	margin-bottom: 0;
		// }
	}
	&__title {
		font-weight: 700;
		font-size: 25px;
		@media (max-width: 752px) {
			font-size: 18px;
		}
	}
	&__subtitle {
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 10px;
		@media (max-width: 752px) {
			font-size: 16px;
		}
	}
	&__icon_menu {
		border: 2px solid $blue;
		border-radius: 10px;
		padding: 10px 15px 10px 10px;
		display: flex;
		align-items: center;
		max-width: 300px;
		justify-content: space-between;
		p {
			font-size: 20px;
			color: #7bb72d;
			font-weight: 500;
			padding: 0px 10px;
			text-decoration: underline;
			transition: 0.3s ease;
			&:hover {
				color: #8ed433;
				transition: 0.3s ease;
			}
		}
	}
	&__dis {
		margin-top: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
	}
	&__img{
		max-width: 60px;
		max-height: 60px;
	}
}
