
//==============================================================================
$blue: #263C5C;

.header {
	&__menu {
		max-width: 1180px;
		margin: 4px auto 0;
		min-height: 52px;
	}

	// @media (max-width:970px) {
	// 	position: relative;
	// 	max-width: 970px;

	// 	&__menu {
	// 		display: flex;
	// 		align-items: center;
	// 		width: 100%;
	// 	}
	// }
}

.logo {
	display: flex;
	align-items: center;
	min-width: 154px;
	max-height: 50px;

	&__drop {
		display: flex;
		flex-direction: column;
		margin: 5px 0px 0px 10px;
	}

	&__icon {
		padding: 10px 0px 0px 0px;
		max-width: 45px;
		pointer-events: none;
	}

	&__title {
		font-size: 18px;
		font-family: roboto;
		font-weight: 600;
		color: $blue;
		line-height: 20px;
	}

	&__titleMini {
		font-size: 14px;
		text-transform: uppercase;
		font-family: roboto;
		color: $blue;
		text-align: start;
	}

	// @media (max-width:970px) {
	// 	display: none;
	// 	position: fixed;
	// 	top: 0px;
	// 	left: 50%;
	// 	transform: translate3d(-50%, 0, 0);
	// }
}

.menu {

	&__row {}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 10px;
	}

	&__list {
		padding-inline-start: 0px;
		list-style: none;
		background-color: $blue;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
		width: 100%;
		// height: 44px;
		padding: 12px 17px;
		border-radius: 10px;
		box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
		margin: 0;
		overflow: hidden;
		li {
			a {
				&:visited {
					color: #fff;
				}
			}
		}
	}

	&__link {
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		text-decoration: none;
		font-family: roboto;
		padding: 14px 5px 14px;
		transition: 0.3s;
		&:hover {
			transition: 0.3s;
			background-color: #616B7A;
			margin: -10px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
		}

		&:nth-child(1) {
			margin: 0px 0px 0px 0px;
		}

		// @media (max-width:1180px) {
		// 	&:hover {
		// 		transition: border-bottom 0.6s linear;
		// 		border-bottom: 0px solid transparent;
		// 	}
		// }
	}

	// @media (max-width:970px) {
	// 	&__body {
	// 		position: fixed;
	// 		overflow: auto;
	// 		width: 100%;
	// 		min-height: 100%;
	// 		bottom: 0px;
	// 		left: 0;
	// 		background-color: #fff;
	// 		transform: translate3d(200%, 0%, 0);
	// 		transition: 1s;

	// 		&._active {
	// 			transform: translate3d(0, 0%, 0);
	// 			transition: 1s;
	// 			overflow: hidden;
	// 		}
	// 	}

	// 	&__list {
	// 		display: flex;
	// 		flex-direction: column;
	// 		justify-content: space-between;
	// 		align-items: center;
	// 		left: 0px;
	// 		max-width: 970px;

	// 		li {
	// 			padding: 0px 0px 25px;

	// 			&:nth-last-child(1) {
	// 				padding: 0px 0px 0px;
	// 			}
	// 		}
	// 	}

	// 	&__link {
	// 		padding: 0px;
	// 		font-size: 20px;
	// 	}

	// 	@media (max-height:480px) {
	// 		&__list {
	// 			li {
	// 				padding: 0px 0px 15px;

	// 				&:nth-last-child(1) {
	// 					padding: 0px 0px 0px;
	// 				}
	// 			}
	// 		}
	// 	}

	// 	@media (max-height:320px) {
	// 		&__list {
	// 			li {
	// 				padding: 0px 0px 10px;
	// 			}
	// 		}
	// 	}
	// }
}