
//======================================================================
$blue: #263C5C;

.header {
	&__menu {
		max-width: 1180px;
		margin: 4px auto 0;
		min-height: 52px;
	}
}

@keyframes blob {
	from {
		transform: translateY(0);
	}
	20% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(0);
	}
	84% {
		transform: translateY(60px) scale(0.7, 1);
	}
	85% {
		transform: translateY(60px) scale(1.5, 0.7);
	}
	88% {
		transform: translateY(69px) scale(2, 0.5);
	}
	90% {
		transform: translateY(69px) scale(2.5, 0.3);
	}
	to {
		transform: translateY(69px) scale(2.5, 0.2);
	}
}

.logo {
	display: flex;
	align-items: center;
	min-width: 154px;
	max-height: 50px;
	cursor: pointer;
	padding-right: 80px;
	&:hover {
		.logo__icon_mini {
			animation: 0.9s linear infinite blob;
			@media (max-width: 560px) {
				animation: none;
			}
		}
	}
	@media (max-width: 560px) {
		padding-right: 0px;
	}
	&__drop {
		display: flex;
		flex-direction: column;
		margin: 0px 0px 0px 10px;
	}

	&__icon {
		position: relative;
		// padding: 10px 0px 0px 0px;
		max-width: 45px;
		min-width: 45px;
		pointer-events: none;
		transition: 1.5s;
		
		&_mini {
			position: absolute;
			left: 16.5px;
			bottom: 0px;
			
		}
	}

	&__title {
		font-size: 18px;
		font-family: roboto;
		font-weight: 600;
		color: $blue;
		line-height: 20px;
		min-width: 119px;
	}

	&__titleMini {
		font-size: 14px;
		text-transform: uppercase;
		font-family: roboto;
		color: $blue;
		text-align: start;
		min-width: 119px;
	}

}

.menu {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 560px) {
			min-height: 110px;
			display: flex;
			flex-direction: column;
		}
	}

	&__list {
		padding-inline-start: 0px;
		list-style: none;
		background-color: $blue;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
		width: 100%;
		padding: 12px 17px;
		border-radius: 10px;
		box-shadow: 10px 9px 20px rgba(0, 0, 0, 0.25);
		margin: 0;
		overflow: hidden;
		@media (max-width: 560px) {
			width: 100%;
			max-width: none;
			padding: 12px 17px;
		}
		@media (max-width: 350px) {
			padding: 12px 5px;
		}
		li {
			a {
				&:visited {
					color: #fff;
				}
			}
		}
	}

	&__link {
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		text-decoration: none;
		font-family: roboto;
		padding: 14px 5px 14px;
		transition: 0.3s;
		cursor: pointer;
		&:nth-child(1) {
			margin: 0px 0px 0px 0px;
		}
	}
}


.footer {
	&__menu {
		padding: 40px 30px;
		max-width: 1180px;
		margin: 4px auto 0;
		min-height: 52px;
		background-color: $blue;
		border-radius: 10px;
		margin-bottom: 20px;
		box-shadow: 10px 9px 20px rgba(0, 0, 0, 0.25);
		&__row{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 700px) {
				padding: 0px 20px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		@media (max-width: 700px) {
			padding: 20px 20px;
		}
	}
	
}

.fSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 94px;
	@media (max-width: 566px) {
		min-height: 0;
	}
	&__logo {
		display: flex;
		min-width: 160px;
		cursor: pointer;
		transition: 1s;
		&:hover {
			.fSection__title {
				color: rgb(204, 204, 204);
				transition: color 1s;
			}
			.fSection__miniTitle {
				color: rgb(204, 204, 204);
				transition: color 1s;
			}
		}
		
	}
	&__icon {
		max-width: 40px;
		pointer-events: none;
		transition: 3s;
	}
	&__drop {
		display: flex;
		flex-direction: column;
		margin: 5px 0px 0px 10px;
		color: #fff;
	}
	&__title{
		font-size: 16px;
		font-family: roboto;
		font-weight: 600;
		line-height: 20px;
		&:hover {
			color: rgb(228, 228, 228);
			transition: color 1s;
		}
	}
	&__miniTitle{
		font-size: 12px;
		text-transform: uppercase;
		font-family: roboto;
		text-align: start;

	}
	&__inn{
		font-weight: 300;
		font-size: 15px;
		min-width: 166px;
		line-height: 18px;
		color: rgba(255, 255, 255, 0.53);
		p {
			display: inline;
		}
		@media (max-width: 566px) {
			display: none;
		}
		&_hide {
			display: none;
			font-weight: 300;
			font-size: 15px;
			min-width: 180px;
			line-height: 18px;
			color: rgba(255, 255, 255, 0.53);
			@media (max-width: 566px) {
				display: inline;
				p {
					display: inline;
				}
			}
		}
	}
}

.sSection {
	display: flex;
	width: 100%;
	max-width: 288px;
	padding: 0 15px;
	// margin: 0 150px 0 0px;
	@media (max-width: 566px) {
		margin: 20px 0;
		padding: 0 5px 0 5px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 94px;
	}
	&__link{
		&__row{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		a {
			color: #ffffff;
			&:hover {
				color: rgba(255, 255, 255, 0.637);
				transition: color 0.3s ease;
			}
		}
		&__hide{
			height: 14px;
			color: $blue;
			pointer-events: none;
		}
	}
}

.tSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 92px;
	color:#fff;
	min-width: 253px;
	@media (max-width: 700px) {
		padding: 20px 20px 0;
		display: flex;
		text-align: center;
		min-height: 150px;
	}
	@media (max-width:566px) {
		padding: 0;
	}
	&__contacts{
		max-width: 200px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 700px) {
			max-width: 252px;
		justify-content: space-around;
		}
	}
	&__contact{
		max-width: 30px;
		cursor: pointer;
		transition: 0.3s ease;
		box-shadow: 9px 10px 10px rgba(0, 0, 0, 0.25);
		&:hover {
			transition: 0.3s ease;
			padding-top: 3px;
			margin-bottom: -3px;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
		}
		&:active {
			transition: 0.3s ease;
			padding-top: 3px;
			margin-bottom: -3px;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
		}
		@media (max-width:566px) {
			max-width: 40px;
		}
		
	}
	&__email{
		font-weight: 500;
		color: rgba(255, 255, 255, 0.637);
		a {
			max-width: 300px;
			color: #fff;
			font-weight: normal;
			text-decoration: underline;
			&:hover {
				color: rgba(255, 255, 255, 0.637);
				transition: color 0.3s ease;
			}
		}
	}
	&__phone{
		font-weight: 500;
		color: rgba(255, 255, 255, 0.637);
		a {
			color: #fff;
			font-weight: normal;
			text-decoration: underline;
			&:hover {
				color: rgba(255, 255, 255, 0.637);
				transition: color 0.3s ease;
			}
		}
	}
}